html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input:focus, textarea:focus, button:focus, select:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.home h1, .home h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.home h3, .home-header__subtitle {
  font-size: 1.125rem;
}
.home h3 {
  font-weight: 700;
}
.home h4 {
  font-weight: 500;
}
.home-header__subtitle {
  font-weight: 300;
}
.home-header__subtitle {
  color: #353535;
}
.home .restaurant-card__subtitle {
  font-size: 1.0625rem;
  font-weight: 300;
}
.home .restaurant-card__badge {
  color: #008766;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}
.home .guide-section__badge,
.home .loader__bar .text {
  color: white;
  text-align: center;
  font-size: 0.88638rem;
  font-weight: 500;
}

.menu-page h1 {
  color: #101010;
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
}
.menu-page h2,
.menu-page .menu-part-card__subtitle {
  font-weight: 300;
}
.menu-page h2 {
  text-transform: uppercase;
}
.menu-page h3 {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-page .menu-part-card__subtitle {
  font-size: 0.94019rem;
}
.menu-page .menu-part-card__subtitle--weighted {
  font-weight: 700;
}

.bottom-footer__link, .bottom-footer__link--weighted {
  color: black;
}
.bottom-footer__link--weighted {
  font-weight: 500;
}

.top-header {
  padding: 1rem 5.5625rem 0.81rem 5.5625rem;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.top-header__logo {
  width: 10.1rem;
  margin: auto;
}

.bottom-footer {
  background-color: #353535;
  padding: 1.56rem;
}
.bottom-footer__logo {
  width: 8.6875rem;
  height: 1.6875rem;
  margin-bottom: 1rem;
}
.bottom-footer__list {
  display: flex;
  flex-direction: column;
  align-items: none;
  justify-content: flex-start;
  gap: 0.4375rem;
  margin-bottom: 0.4375rem;
}
.bottom-footer__link, .bottom-footer__link--weighted {
  color: #fff;
}
.bottom-footer__link__logo {
  margin-right: 0.6rem;
}

.location-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 1.06rem;
  height: 3.125rem;
  color: #353535;
}
.location-bar__field {
  outline: none;
  border: none;
  background-color: inherit;
  width: 6.8125rem;
}

.home-header {
  padding: 2rem;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.home-header__title {
  width: 80%;
}
.home-header__button {
  margin: 1rem 0rem;
}

.guide-section, .restaurant-section {
  padding: 3rem 1.25rem;
}

.guide-section {
  padding: 3rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  gap: 1.56rem;
}
.guide-section__step-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.75rem;
  background-color: #F6F6F6;
  padding: 1.75rem;
  position: relative;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.guide-section__badge {
  line-height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  left: 0px;
  transform: translate(-50%);
}
.guide-section__icon, .guide-section__icon--colored {
  color: #828282;
  padding-right: 1.5rem;
}
.guide-section__icon--colored {
  color: #9356DC;
}

.restaurant-section {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.1rem;
}
.restaurant-section__title {
  margin-bottom: 0.5rem;
  align-self: flex-start;
}
.restaurant-section__link {
  width: 100%;
}

.restaurant-card {
  width: 100%;
  border-radius: 0.9375rem;
  background-color: #fff;
  position: relative;
}
.restaurant-card__image {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.9375rem 0.9375rem 0 0;
}
.restaurant-card .card-content {
  padding: 1rem 0.8rem;
}
.restaurant-card__icon {
  position: absolute;
  right: 1.2rem;
  bottom: 2rem;
}
.restaurant-card__title {
  padding-bottom: 0.4rem;
}
.restaurant-card__badge {
  width: 5rem;
  line-height: 1.8rem;
  background-color: #99E2D0;
  border-radius: 0.1rem;
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}

.top-header__arrow-link {
  position: absolute;
  left: 1.06rem;
  top: 0.88rem;
  font-size: 1.3rem;
  line-height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
}
.top-header__arrow-link:active {
  background-color: #F6F6F6;
}

.menu-page__header {
  width: 100%;
  height: 17.1875rem;
  margin-bottom: -5rem;
}

.menu-section {
  position: relative;
  z-index: 1;
  background-color: #F6F6F6;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5rem;
}
.menu-section__icon {
  position: absolute;
  top: 2.5rem;
  right: 10%;
}
.menu-section__button {
  align-self: center;
  margin-bottom: 2.5rem;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu-part {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 0.75rem;
}
.menu-part__title-underline {
  width: 2.5rem;
  height: 0.1875rem;
  background-color: #99E2D0;
}

.menu-part-card {
  background-color: #fff;
  border-radius: 0.94019rem;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
}
.menu-part-card__title {
  margin-bottom: 0.31rem;
}
.menu-part-card__subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-part-card-content {
  width: 100%;
  padding: 0.94rem;
  transition: width 0.5s;
}
.menu-part-card .checked {
  width: 0;
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: width 0.5s;
}
.menu-part-card .checked__icon {
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
}
.menu-part-card:hover .checked {
  width: 3.6875rem;
}
.menu-part-card:hover .checked__icon {
  opacity: 1;
}

.btn {
  width: 13.625rem;
  line-height: 3.125rem;
  background: linear-gradient(175deg, #FF79DA -10%, #9356DC);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s, opacity 0.2s;
  text-align: center;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heart-btn {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.heart-btn--unfilled {
  position: absolute;
  left: 0;
  transition: opacity 0.2s;
}
.heart-btn--filled {
  position: absolute;
  left: 0;
  fill: url("#gradient");
  opacity: 0;
  transition: opacity 0.4s;
}
.heart-btn:hover .heart-btn--unfilled {
  opacity: 0;
}
.heart-btn:hover .heart-btn--filled {
  opacity: 1;
}

@keyframes loaderProgression {
  0% {
    width: 0%;
  }
  60% {
    width: 100%;
    border-radius: 2rem;
  }
  100% {
    width: 100%;
    border-radius: 2rem;
  }
}
@keyframes destroyLoader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}
@keyframes forbidScroll {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: revert;
  }
}
body {
  animation: forbidScroll 3s forwards;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  animation: destroyLoader 3s forwards;
  z-index: 9;
}
.loader__bar {
  width: 60vw;
  height: 1rem;
  border: 2px solid #ff13be;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}
.loader__bar .bar {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(175deg, #FF79DA -10%, #9356DC);
  transition: width 0.25s;
  border-radius: 2rem 0 0 2rem;
  animation: loaderProgression 1.5s ease-out 2 forwards;
}
.loader__bar .text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */