$new-badge-bcg-color:#99E2D0;
$new-badge-text-color:#008766;

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$secondary-background:#EAEAEA;
$primary-background: #F6F6F6;

$primary-text-color:#000;
$secondary-text-color:#353535;

// breakpoints
$mobile:450px;
$tablet:760px;
$desktop:1080px;

//fonts
$title-font:'Shrikhand', serif;
$para-font:'Roboto', sans-serif;
