@import '../utilities/variables';

body{
    font-family: $para-font;
    color: #000;
}

//section titles
.home{

    h1, h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    h3, &-header__subtitle {
        font-size: 1.125rem;
    }
    h3{
        font-weight: 700;
    }
    h4{
        font-weight: 500;
    }
    &-header__subtitle{
        font-weight: 300;
    }
    &-header__subtitle{
        color: $secondary-text-color;
    }
    .restaurant-card__subtitle{
        font-size: 1.0625rem;
        font-weight: 300;
    }
    .restaurant-card__badge{
        color: $new-badge-text-color;
        text-align: center;
        font-size: 0.875rem; 
        font-weight: 500; 
    }
    .guide-section__badge,
    .loader__bar .text{
        color: white;
        text-align: center;
        font-size: 0.88638rem; 
        font-weight: 500;
    }
}

.menu-page{
    h1{
        color:  #101010;
        font-family: $title-font;
        font-size: 1.75rem;
    }
    h2,
    .menu-part-card__subtitle{
        font-weight: 300;
    }
    h2{
        text-transform: uppercase; 
    }
    h3{
        font-size: 1.125rem;
        font-weight: 500;
    }
    .menu-part-card__subtitle{
        font-size: 0.94019rem;
        
        &--weighted{
            font-weight: 700; 
        }
    }
}

.bottom-footer{

    &__link{
        color:  black;
        &--weighted{
            font-weight: 500;
        }
    }

}